@import '../../../../index.scss';

.gradientBorder {
    background: linear-gradient(180deg, #32C3E9 0%, #1468AD 100%);
    border-radius: 12px;
    margin-bottom: 25px;
}

.card {
    padding: 3px;
    position: relative;
    overflow: hidden;

    .card__background {
        object-fit: contain;
        border-radius: 11px;
        z-index: 1;
    }
}

.actor {
    position: absolute;
    z-index: 2;
}

.actor__kierownik {
    width: 129px;
    height: 148px;
}

.actor__marzycielka {
    width: 109px;
    height: 149px;
}

.actor__zartownis {
    width: 139px;
    height: 152px;
}

.cloud {
    position: absolute;
    opacity: 0;

    img {
        position: absolute;
    }
}

.text {
    position: absolute;
    text-align: center;
}

