.mobileGrid {
    display: grid;
    grid-template-columns: 91vw 9vw;
    z-index: 1;
}

.screen {
    z-index: 1;
}

.nextButton, .nextButton button {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}