@import '../../../../index.scss';

.footer {
    @include flex-center;
    width: 100%;
    background: $bg-white;

    &__button {
        @include flex-center;
        width: 250px;
        height: 48px;
        background-color: $bg-red;
        box-shadow: $box-shadow-button-red-desktop;
        color: $f-white;
        animation: pulse .6s linear infinite alternate;
    }
}