    $footer-height: 91px;
    $header-height: 49px;

    $calculated-height: calc(var(--vh, 1vh) * 100);

    .heightWrapper {
        width: 100%;
        height: 100vh;
        height: $calculated-height;
    }

    .heightWrapper > main {
        height: calc(#{$calculated-height} - #{$header-height} - #{$footer-height});
    }

    .heightWrapper > footer, .scrollWrapper > header {
        position: fixed;
        left: 0;
        width: 100%;
    }

    .heightWrapper > header {
        height: $header-height;
        top: 0;
    }

    .heightWrapper > footer {
        height: $footer-height;
        bottom: 0;
    }
