    @import '../../index.scss';
    
    $footer-height: 91px;
    $header-height: 49px;

    .heightWrapper {
        width: 100%;
        height: 100vh;
        height: $calculated-height;
        overflow: hidden;
        max-height: 100vh;
    }

    .heightWrapper > main {
        margin-top: 49px;
        // padding-top: calc(#{$header-height} - 10px);
        height: calc(#{$calculated-height} - #{$header-height} - #{$footer-height});
        max-height: 100vh;
    }

    .heightWrapper > footer, .scrollWrapper > header {
        // position: fixed;
        // left: 0;
        width: 100%;
    }

    .heightWrapper > header {
        height: $header-height;
        // top: 0;
    }

    .heightWrapper > footer {
        height: $footer-height;
        // bottom: 0;
    }
