@import './sass/modules/_variables';
@import './sass/modules/_mixins';
@import url("https://use.typekit.net/vup1dbo.css");


// @font-face {
//   font-family: 'dax';
//   font-style: normal;
//   font-weight: 500;
//   src: url('./fonts/DaxRegular.ttf') format("opentype");
// }

// @font-face {
//   font-family: 'dax-bold';
//   font-style: normal;
//   font-weight: bold;
//   src: url('./fonts/DaxBold.ttf') format("opentype");
// }


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.f-dax {
  font-family: ff-dax-compact-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.f-dax--bold {
  font-family: ff-dax-compact-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.f-text--desktop {
  @extend .f-dax;

  font-size: 19px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'onum' on;
  color: $f-blue;
}

.f-text--mobile {
  @extend .f-dax;

  font-size: 15px;
  line-height: 19px;
  font-feature-settings: 'pnum' on, 'onum' on;
}

.f-text-button--desktop {
  @extend .f-dax--bold;

  font-size: 26px;
  line-height: 34px;
}

.f-text-button--mobile {
  @extend .f-dax--bold;
  font-size: 22px;
  line-height: 28px;
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
  };
  100% {
    transform: scale(1.03);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1.0);
  };
  100% {
    transform: scale(1.03);
  }
}
