@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-centerTop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-centerBottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}