$f-grey: #c4c4c4;
$f-blue: #253f9a;
$f-white: #ffffff;

/*  */
$bg-linear-to-right: linear-gradient(270deg, #F8F8F8 0%, rgba(242, 242, 242, 0) 100%);
$bg-linear-to-left: linear-gradient(270deg, rgba(242, 242, 242, 0) 0%, #F8F8F8 100%);
$bg-white: #ffffff;
$bg-red: #d94863;

$border-blue: #2293c9;
$button-blue: $border-blue;

$box-shadow-header-desktop: 0px 7px 11px rgba(0, 0, 0, 0.2);
$box-shadow-header-mobile: 0px 4px 6px rgba(0, 0, 0, 0.2);
$box-shadow-footer: 0px 0px 12px rgba(0, 0, 0, 0.2);
$box-shadow-button-red-desktop: 0px 4px 15px rgba(0, 0, 0, 0.25);
$box-shadow-button-red-mobile: 0px 4px 8px rgba(0, 0, 0, 0.25);
$box-shadow-card: 0px 4px 4px rgba(0,0,0,.12);

$border-radius: 12px;